.fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Target the direct div children of the fieldset for layout */
.fieldset > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input,select{
  outline: none;
}

input {
  width: 100%; /* Make all inputs consistent width */
  border: 1px solid #333333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

input.invalid, select.invalid {
  border-color: #990000;
  background-color: #ffdddd;
}

input:focus:invalid, select:focus:invalid {
  outline: none;
}

/* error message styles */
.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #990000;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.invalid {
  padding: 0.3em;
}

.error.valid{
    padding: 0.3em;
    background-color: green;
}